{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-0",
    "react"
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false, // defaults to true
      "polyfill": false, // defaults to true
      "regenerator": true, // defaults to true
      "moduleName": "babel-runtime" // defaults to "babel-runtime"
    }],
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs","transform-flow-strip-types"]
    },
    "targets": {
      "browsers": ["last 2 versions"]
    },
    "production" : {
      "plugins":["transform-react-remove-prop-types"]
    }
  }
}
