{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread" : true
    }
  },
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-undef" : "off",

  },
  "plugins": [
    "react","flowtype"
  ],
  "extends": ["eslint:recommended", "airbnb","plugin:flowtype/recommended"],
  "env" :{
    "jest" :true
  },
  {
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}

}
